@keyframes twink {
  0% {
    opacity: 1;
    display: block;
  }
  50% {
    opacity: 0.3;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes twink-rev {
  0% {
    opacity: 0.3;
    display: none;
  }
  50% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0.3;
    display: none;
  }
}
@keyframes cloud-bob {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes voiture-move {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(900px);
  }
}
@keyframes cloud-bob-light {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(-2px);
  }
}
@keyframes cloud {
  0% {
    opacity: 1;
    display: block;
  }
  50% {
    opacity: 0.5;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes bounceIn {
  20%,
  40%,
  60%,
  80%,
  from,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 1;
    transform: scale3d(.3, .3, .3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceInandFade {
  20%,
  40%,
  60%,
  80%,
  from,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale3d(.3, .3, .3);
  }
  10% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  //  transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    //transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    //transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 0;
    visibility: hidden;
    //transform: scale3d(1, 1, 1);
  }
}
@keyframes vapeur {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.03, 1.03, 1.03);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.etoiles {
  @include animation(twink-rev 3.0s ease-out infinite);
}
.etoiles_brille {
  @include animation(twink 3.0s ease-out infinite);
}
.defis_du_pro_nuage {
  @include animation(cloud-bob 3.0s ease infinite);
}
//frise entrance
.moyenage,
.prehistoire,
.tempcontemporain {
  @include animation(fadeInUp 0.5s ease);
}
.antiquite,
.explorateur,
.inventeur,
.leonard,
.louisxiv,
.tempmoderne {
  @include animation(fadeInDown 0.5s ease);
}
.explimarie {
  @include animation(bounceIn 0.5s ease);
  @include animation-delay(0.8s);
}
.startquizz{
  @include animation(bounceIn 0.5s ease);
  @include animation-delay(0.8s);
}
.expliprof {
  visibility: hidden;
  @include animation(bounceInandFade 4s ease);
}
//rue des inventeurs
.rue-wrapper,.usinevapeur-slider-wrapper{
    @include animation(fadeInDown 0.5s ease);
}
#nuages {
  @include animation(cloud-bob-light 3.0s ease infinite);
}
#Nuage_1_,#txtUsine {
  transform-origin: bottom;
  @include animation(vapeur 3.0s ease infinite);
}
#voiture {
  @include animation(voiture-move 15.0s infinite);
}
