//coolvetica
@font-face {
  font-family: 'coolveticaregular';
  src: url('fonts/coolvetica_rg-webfont.eot');
  src: url('fonts/coolvetica_rg-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/coolvetica_rg-webfont.woff2') format('woff2'), url('fonts/coolvetica_rg-webfont.woff') format('woff'), url('fonts/coolvetica_rg-webfont.ttf') format('truetype'), url('fonts/coolvetica_rg-webfont.svg#coolveticaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BukhariScript-Regular';
  src: url('fonts/BukhariScript-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/BukhariScript-Regular.otf') format('opentype'), url('fonts/BukhariScript-Regular.woff') format('woff'), url('fonts/BukhariScript-Regular.ttf') format('truetype'), url('fonts/BukhariScript-Regular.svg#BukhariScript-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
