// bower:scss
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower
.content-wrapper,
body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
@import "_fonts.scss";
@import "accueil.scss";
@import "_animations.scss";
@import "dialog.scss";
@import "frise.scss";
@import "tempsmodernes.scss";

.nav-wrapper {
  display: block;
  height: 116px;
  background-color: white;
  box-shadow: 0 6px 15px 0 #656565;
  position: inherit;
  .nav {
    height: 207px;
    width: 100%;
    background: url("../images/Nav.png") no-repeat center;
    h1 {
      font-family: BukhariScript-Regular;
      font-size: 2.35em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 35px;
    }
  }
  &.disabled-nav{
    display: none;
  }
}

//Rue des inventerurs
.body-wrapper-ruedesinventeurs{
  height: 100vh;
  background-color: #dddad6;
  .rue-wrapper{
    margin-top: 40px;

    #Nuage_1_,#txtUsine{
      &:hover{
        cursor: pointer;
      }
    }
  }
}
