// bower:scss
// endbower
.content-wrapper,
body,
html {
  height: 100%;
  width: 100%;
}
@import "_fonts.scss";
@import "accueil.scss";
@import "_animations.scss";
@import "dialog.scss";
.body-wrapper-frise {
  height: 100%;
  background-color: #e9ecee;
  padding-right: 0;
  padding-left: 0;
  .nav-wrapper {
    height: 116px;
    background-color: white;
    box-shadow: 0 6px 15px 0 #656565;
    .nav {
      height: 207px;
      width: 100%;
      background: url("../images/Nav.png") no-repeat center;
      h1 {
        font-family: BukhariScript-Regular;
        font-size: 2.35em;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
      }
    }
  }
  .frise-wrapper {
    margin-top: 80px;
    .periode-top {
      display: inline-flex;
      .antiquite {
        width: 152px;
        height: 152px;
        margin-left: 389px;
        background: url("../images/Antiquite.png") no-repeat center;
        transition: all 0.2s;
        &:hover {
          background: url("../images/Antiquite_hover.png") no-repeat center;
        }
      }
      .tempmoderne {
        width: 152px;
        height: 152px;
        margin-left: 150px;
        background: url("../images/Temps_moderne.png") no-repeat center;
        transition: all 0.2s;
        &:hover {
          background: url("../images/Temps_moderne_hover.png") no-repeat center;
        }
      }
    }
    .frise {
      width: 100%;
      height: 50px;
      background: url("../images/Frise.png") no-repeat center;
    }
    .periode-bottom {
      display: inline-flex;
      .prehistoire {
        width: 152px;
        height: 152px;
        margin-left: 248px;
        background: url("../images/Prehistoire.png") no-repeat center;
        transition: all 0.2s;
        &:hover {
          z-index: 5;
          background: url("../images/Prehistoire_hover.png") no-repeat center;
        }
      }
      .moyenage {
        width: 152px;
        height: 152px;
        margin-left: 137px;
        background: url("../images/Moyen_age.png") no-repeat center;
        transition: all 0.2s;
        &:hover {
          background: url("../images/Moyen_age_hover.png") no-repeat center;
        }
      }
      .tempcontemporain {
        width: 152px;
        height: 152px;
        margin-left: 150px;
        background: url("../images/Temps_contemporain.png") no-repeat center;
        transition: all 0.2s;
        &:hover {
          background: url("../images/Temps_contemporain_hover.png") no-repeat center;
        }
      }
    }
  }
  .personnages-wrapper {
    div {
      display: inline-block;
    }
    .professeur {
      width: 210px;
      height: 337px;
      background: url('../images/Professeur.png') no-repeat center;
    }
    .explimarie{
      float: right;
      width: 239px;
      height: 337px;
      background: url('../images/explication_marie_frise.png') no-repeat center;
    }
    .enfants {
      float: right;
      width: 300px;
      height: 337px;
      background: url('../images/enfants.png') no-repeat center;
    }
  }
}
