// bower:scss
@import "bourbon/app/assets/stylesheets/_bourbon.scss"; // endbower
.content-wrapper,
body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
@import "_fonts.scss";
@import "accueil.scss";
@import "_animations.scss";
@import "dialog.scss";
@import "frise.scss";
@import "tempsmodernes.scss";
.nav-wrapper {
  display: block;
  height: 116px;
  background-color: white;
  box-shadow: 0 6px 15px 0 #656565;
  position: inherit;
  .nav {
    height: 207px;
    width: 100%;
    background: url("../images/Nav.png") no-repeat center;
    h1 {
      font-family: BukhariScript-Regular;
      font-size: 2.35em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 35px;
    }
  }
  &.disabled-nav {
    display: none;
  }
}
//Rue des inventerurs
.body-wrapper-ruedesinventeurs {
  height: 100vh;
  background-color: #dddad6;
  .start {
    position: absolute;
    bottom: 23px;
    left: 340px;
  }
  .rue-wrapper {
    margin-top: 40px;
    #Nuage_1_,
    #txtUsine {
      &:hover {
        cursor: pointer;
      }
    }
    #imprimerie {
      &:hover {
        cursor: pointer;
      }
    }
    #bibliotheque {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
//Usine à vapeur
.usinevapeur-wrapper {
  height: 100vh;
  background-color: #dddad6;
}
.usinevapeur-slider-wrapper {
  margin-top: 25px;
  width: 946px;
  .carousel-control {
    width: 7%;
    &.right {
      width: 15%;
    }
  }
  .glyphicon-chevron-left:before {
    border: 3px solid white;
    border-radius: 50%;
    padding: 15px;
  }
  .glyphicon-chevron-right:before {
    border: 3px solid white;
    border-radius: 50%;
    padding: 15px;
  }
}
.expliprof {
  float: left;
  width: 239px;
  height: 337px;
  background: url('../images/Bulle_prof.png') no-repeat center;
  p {
    margin-top: 35px;
    font-family: BukhariScript-Regular;
    font-size: 1.2em;
  }
}
.expliquizz {
  float: left;
  width: 239px;
  height: 337px;
  background: url('../images/Bulle_prof.png') no-repeat center;
  p {
    margin-top: 55px;
    font-family: BukhariScript-Regular;
    font-size: 1.2em;
  }
}
.sliderend {
  margin-bottom: 45px;
  a {
    color: white;
    font-family: BukhariScript-Regular;
    font-size: 2.35em;
  }
}

//Quizz
.quizz-wrapper{
  height: 100vh;
  background-color: #b0d9ff;
  .quizz-box-wrapper{
    border-radius: 7px;
    background-color: #ffffff;
    padding: 30px;
    margin-top: 50px;
    width: 600px;
    h2{
      font-family: coolveticaregular;
      font-size: 2.35em;
      margin-bottom: 20px;
    }
    .back{
      position: relative;
      outline: none;
      border: 0;
      border-radius: 50px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 0;
      top: 0;
      font-family: Arial;
      font-weight: bold;
      color: white;
      background-color: #cd0039;
      box-shadow: 0 6px 0 0 #9c002d;
      transition: all ease 0.1s;
      padding-right: 15px;
      &:active:focus {
        box-shadow: 0 3px 0 #9c002d;
        top: 3px;
      }
      img {
        padding-left: 5px;
        padding-right: 10px;
        background: none;
        box-shadow: none;
      }
    }
    .next{
      position: relative;
      outline: none;
      border: 0;
      border-radius: 50px;
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 10px;
      border: 0;
      top: 0;
      font-family: Arial;
      font-weight: bold;
      color: white;
      background-color: #00b3cd;
      box-shadow: 0 6px 0 0 #00889a;
      transition: all ease 0.1s;
      padding-right: 15px;
      &:active:focus {
        box-shadow: 0 3px 0 #00889a;
        top: 3px;
      }
      img {
        padding-left: 5px;
        padding-right: 10px;
        background: none;
        box-shadow: none;
      }
    }
    .prop{
      width: 60%;
      outline: none;
      border: 0;
      border-radius: 5px;
      font-family: 'coolveticaregular';
      font-weight: normal;
      font-size: 1.7em;
      color: white;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;

      margin-bottom: 25px;
      background: linear-gradient( #148bde, #1174b9);
      &:active {
        box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4);
      }
      &.active{
        background: linear-gradient( #19db7d, #11c06b);
      }
      &.false{
        background: linear-gradient( #cd003a, #9b002c);
      }
    }
  }
}
