<section class="container-fluid body-wrapper-index">
  <!--[if lte IE 8]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
  <section class="content-wrapper text-center">
    <div class="etoiles"></div>
    <div class="etoiles_brille"></div>
    <div class="row">
      <div class="bull"></div>
      <div class="logos"></div>
    </div>
    <div class="defis_du_pro_nuage"></div>
    <div class="row professeur"></div>
    <div class="row livre"></div>
    <div class="container btnmenu text-center">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-6">
          <button class="new" type="button" name="button" ng-click="showDialogInscri($event)">NOUVELLE PARTIE</button>
          <button class="repr" type="button" name="button" ng-click="showDialogReprend($event)">REPRENDRE UNE PARTIE</button>
        </div>
      </div>
    </div>
  </section>
  <div class="enfants-dialog">

  </div>
</section>
