<section class="container-fluid body-wrapper-frise">
  <section class="nav-wrapper">
    <div class="container nav">
      <h1>La frise du temps</h1>
    </div>
  </section>
  <section class="container frise-wrapper">
    <div class="periode-top">
      <img class="antiquite" src="images/Antiquité.png" alt=""/>
      <img class="tempmoderne" src="images/Temps_moderne.png" alt=""/>
    </div>
    <div class="frise"></div>
    <div class="periode-bottom">
      <img class="prehistoire" src="images/Prehistoire.png" alt=""/>
      <img class="moyenage" src="images/Moyen_age.png" alt=""/>
      <img class="tempcontemporain" src="images/Temps_contemporain.png" alt=""/>
    </div>
  </section>
  <section class="container personnages-wrapper">
    <div class="professeur">

    </div>
    <div class="enfants">

    </div>
  </section>
</section>
