<section class="container-fluid body-wrapper-tempsmodernes">
  <section class="container rubrique-wrapper">
    <div class="rowback">
      <a href="#/frise"><button class="back" type="button" name="button"><img class="back" src="images/back.png" alt=""/>Retour</button></a>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <a href="">
          <div class="leonard"></div>
        </a>
      </div>
      <div class="col-lg-3 ">
        <a href="">
          <div class="explorateur"></div>
        </a>
      </div>
      <div class="col-lg-3">
        <a href="#/ruedesinventeurs">
          <div class="inventeur"></div>
        </a>
      </div>
      <div class="col-lg-3 ">
        <a href="">
          <div class="louisxiv"></div>
        </a>
      </div>
    </div>
  </section>
  <section class="container personnages-wrapper">
    <div class="personnage-sub-wrapper">
      <div class="professeur"></div>
      <div class="enfants"></div>
      <div class="explimarie text-center">
        <p>
          Choisi le thème que tu souhaite explorer !
        </p>
      </div>
    </div>
  </section>
</section>
